body, html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-image: url("https://images.wallpaperscraft.com/image/single/pond_water_hills_393814_1920x1080.jpg");
  height: 150%;
}

.container, .top-container, .mid-container{
  width:1500px; 
  height:auto;
  padding: 50px; 
  display:flex; 
  background-color:antiquewhite;  
  flex-direction: row; 
  flex-wrap:wrap; 
  justify-content:center;
  align-items:center;
}

.footer{
height: 65px;
align-items:flex-start; 
position:fixed;
margin:0px;
padding: 20px 0px 0px 10px;
bottom:0; 
left:0;
width: 100%;
background-color:#e3f2fd;
color: white;

}
